.welcome {
    z-index: 4;
    display: flex;
    align-items: flex-start;

    h1 {
        position: absolute;
        top: 5%;
        left: 10%;
        color: #ffffff;
        font-weight: bold;
    }

    h2 {
        position: absolute;
        top: 12%;
        left: 10%;
        color: #ffffff;
        font-weight: 100;
        font-size: medium;
    }

    h3 {
        position: absolute;
        top: 25%;
        left: 10%;
        color: #ffffff;
        font-weight: 100;
        font-size: medium;
    }

}

.physics-engine-link {

    position: absolute;
    width: 250px;
    left: 15%;
    top: 43%;
    text-decoration: none;

    img {
        width: 250px;
        position: relative;
    }
    
    .physics-engine-link-text {
        position: relative;
        color:#ffffff;
        width: 250px;
        left: 17.2%;
        top: 75%;
        font-size: medium;
    }

    .cpp-logo {
        width: 40px;
        position: absolute;
        left: 17.2%;
        top: 104.5%;
    }
    .web-assembly-logo {
        width: 40px;
        position: absolute;
        left: 40%;
        top: 105%;
    }
    .sdl2-logo {
        width: 70px;
        position: absolute;
        left: 63%;
        top: 107.5%;
    }
}

.fade-in-image {
    opacity: 0.7;
    transition: opacity 1s ease;
}

.fade-in-image:hover {
    opacity: 1;
}