.contact-page {
    .text-zone {
        position: absolute;
        left: 10%;
        top: 25%;
        width: 35%;
        display: table-cell;
        max-height: 90%;
        color: #FFFFFF;
        font-size: medium;

        h1 {
            font-weight: normal;
        }
        p {
            width: 500px;
        }
    }
}

.contact-form {
    width: 100%;
    margin-top: 20px;

    ul {
        padding: 0;
        margin: 0;

        li {
            padding: 0;
            margin:0;
            list-style: none;
            margin-bottom: 10px;
            overflow: hidden;
            display: block;
            position: relative;
            opacity: 0;
            animation: fadeInUp 2s 5s;
            animation-fill-mode: forwards;
            clear: both;
        }

        li.half {
            width: 49%;
            margin-left: 2%;
            float: left;
            clear: none;

            &:first-child {
                margin-left: 0;
            }
        }
    }
    input[type='text'], 
    input[type='email'] {
        width: 100%;
        border: 0;
        background: rgb(0, 59, 90);
        height: 50px;
        font-size: 16px;
        color: #FFFFFF;
        padding: 0 20px;
        box-sizing: border-box;

    }

    textarea {
        width: 100%;
        border: 0;
        background:rgb(0, 59, 90);
        height:  50px;
        font-size: 16px;
        padding: 20px;
        color: #FFFFFF;
        min-height: 150px;
        box-sizing: border-box;
    }

    .flat-button {
        color: rgb(0, 59, 90);
        background: 0 0;
        font: 11px;
        letter-spacing: 3px;
        text-decoration: none;
        padding: 8px 10px;
        border: 1px solid rgb(0, 59, 90);
        float: left;
        border-radius: 4px;
    }
}