.contact-page {

    position: absolute;
    display: flex;
    align-items: center;
    width: 50%;
    margin-top: 10%;
    margin-left: 10%;

    .text-zone {
        color: #FFFFFF;
        font-size: medium;
        width: 100%;

        h1 {
            font-weight: normal;
        }

        p {
            width: 700px;
        }
    }
}