.contact-svg-inner-container path {
    stroke: 10;
    stroke-width: 20;
    stroke: #FFFFFF;
    fill: transparent;
    stroke-dasharray: 25000;
    stroke-dashoffset: 25000;
    animation: animate 25s forwards;
}

.animated-logo-svg {
    position: absolute;
    width: 100%;
    height: auto;
}

.contact-solid-logo {
    z-index: 2;
    opacity: 0;
    animation: fadeIn 1s forwards;
    animation-delay: 1s;
    position: absolute;
}

@keyframes animate {
    to {
        stroke-dashoffset: 0;
        fill: #303644;
        stroke-opacity: 0;
    }

}



@keyframes fadeIn {
    to {
        opacity: 1;
    }
}