.logo-container {
    position: absolute;
    left: 58%;
    top: 22%;

    
    .desc-container {
        position: absolute;
        align-items: center;
        left: -160%;
        top: 20%;

        h1 {
            font-weight: normal;
            font-size: xx-large;
            color: #ffffff;
        }

        h2 {
            font-weight: normal;
            font-size: large;
            color: #ffffff;
            max-width: 700px;
        }
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
.about-logo {
    animation: fadeIn 5s ease-in-out;
}