.desc-container {
    position: absolute;
    align-items: center;
    height: 100%;
    width: 30%;
    display: flex;
    left: 15%;
    word-wrap: break-word;
    overflow: hidden;
    h1 {
        font-weight: normal;
        font-size: xx-large;
        color: #ffffff;
        width: 100%;
    }

    h2 {
        font-weight: normal;
        font-size: large;
        color: #ffffff;
        max-width: 100%;
    }

    @keyframes cursor {
        50% {border-color: transparent}
    }

}

.about-logo-container {
    width: 500px;
    height: 500px;
    position: absolute;
    top: 0;
    right: 15%;
    bottom: 0;
    left: auto;
    margin: auto;
}


@media (max-width: 1280px) {
    .desc-container {
        position: absolute;
        align-items: center;
        height: 100%;
        width: 30%;
        display: flex;
        left: 20%;
        word-wrap: break-word;
        overflow: hidden;
        h1 {
            font-weight: normal;
            font-size: x-large;
            color: #ffffff;
            width: 100%;
        }
    
        h2 {
            font-weight: normal;
            font-size: medium;
            color: #ffffff;
            max-width: 100%;
        }

    
    }

    .about-logo-container {
        width: 350px;
        height: 350px;
        position: absolute;
        top: 0;
        right: 15%;
        bottom: 0;
        left: auto;
        margin: auto;
    }
  }


  @media (max-width: 1000px) {
    .desc-container {
        position: absolute;
        align-items: center;
        height: 100%;
        width: 30%;
        display: flex;
        left: 20%;
        word-wrap: break-word;
        overflow: hidden;
        
        h1 {
            font-weight: normal;
            font-size: x-large;
            color: #ffffff;
            width: 100%;
        }
    
        h2 {
            font-weight: normal;
            font-size: medium;
            color: #ffffff;
            max-width: 100%;
        }
    

    }

    .about-logo-container {
        width: 250px;
        height: 250px;
    }
  }

  @media (max-width: 720px) {
    
    .desc-container {
        position: absolute;
        top: 25%;
        left: 58%;
        transform: translate(-55%, -40%);
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100%;
        width: 60%;
        
        h1 {
            font-weight: normal;
            font-size: large;
            color: #ffffff;
        }
    
        h2 {
            font-weight: normal;
            font-size: small;
            color: #ffffff;
        }

    }

    .about-logo-container {
        width: 250px;
        height: 250px;
        position: fixed;
        left: 20%;
        top: 60%;
    }
  }


